@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap");

/* Root style */

:root {
  /* Color */
  --color-blue: #eef4ff;
  --color-white: #fff;
  --color-pink: #e9f9ff;
  --color-darkblue: #449edf;
  --color-ligthpink: #fff6f9;
  --color-black: #222;
  --color-nurun: #fff8ec;
  --color-orange: #edb504;
  --color-skin: #f9edbb;
  --color-pole: #636262;
  --color-red: #eb573b;
  --color-red: #d64b38;

  /* font size */

  --font-normal: 1rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
  --font-biglarge: 2rem;
  --font-giant: 3rem;

  /* pixels size */
  --pixels-ten: 10px;
}

/* global css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  min-height: 100vh;
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color:var(--color-black);
}

/* shape divider css  ------------ */

/* skills section svg */
.Skills__waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.Skills__waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 93px;
}
.Skills__waves .shape-fill {
  fill: #fcf7e1;
}

/* project section svg  */
.project__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project__wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 83px;
}

.project__wave .shape-fill {
  fill: #fff;
}
