@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap");

/* font family */
/* 

font-family: 'Archivo', sans-serif;
font-family: 'Nanum Gothic', sans-serif; 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding:0;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  min-height: 100vh;
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.live-demo {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.live-demo:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.source-code{
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.source-code:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




